#seachInput {
    display: flex;
    justify-content: center;
}

#searchButton {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#search-bar{
    width : 70vw;
}

#input[type=text]:-ms-clear{
    
}

#erase{
    background-color: rgba( 255, 255, 255, 0 );
}